.styled-table th,
.styled-table td {
  text-align: left;
  padding: 8px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th {
  background-color: #f4f4f4;
}

.styled-table td {
  border-bottom: 1px solid #ddd;
}

.nowrap {
  white-space: nowrap;
}
